@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');

body, html {
    font-family: 'Roboto';
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #ecf0f1;
}

.app {
    font-size: 4em;
    color: #2980b9;
    text-shadow: 2px 2px 0px #2980b952;
}

.wi {
    margin-top: -1em;
    font-size: 3em;
    line-height: 1.5em;
}